@import "~src/assets/scss/mixins";

.section-card {
    @include flex-dinamic(column, center, center);
    height: 100%;

    &__form {
        @include flex-dinamic(column, center);
        width: 300px;

        input-form {
            width: 100%;
        }

        button {
            width: 100%;
        }
    }

}