<section class="section-card">
    <img width="400px;" src="assets/imgs/logo_test.png">
    <form class="section-card__form" [formGroup]="this.form" (submit)="this.authentication()">
        <input-form label="E-mail" type="email" controlName="username" textError="E-mail inválido"></input-form>
        <input-form label="Senha" type="password" controlName="password" textError="Senha obrigatória"></input-form>
        <button mat-raised-button color="primary" type="submit" [disabled]="this.form.invalid">ENTRAR</button>
    </form>
</section>